{% extends 'index.html' %}
{% block content %}


  {% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body background="{% static 'images/p5.jpeg'%}">
<div class="header">
    <section class="container-fluid">

        <form method="post" enctype="multipart/form-data" class="form-container">
            {% csrf_token %}
            <div class="form-group">
                <h1 style="text-align:center">Developer Info.</h1>
                <label><h1>Heena Chhabra</h1></label>
                <h1>Patel Institute Of Management and Technology, Rajpura</h1>
                <h1>MCA</h1><br><br>



                <label><h1>Raman Dhindsa</h1></label>
                <h1>Patel Institute Of Management and Technology, Rajpura</h1>
                <h1>MCA</h1>

            </div>

        </form>
    </section>
</div>
</body>
</html>
{% endblock content %}
