<!DOCTYPE html>

  {% load static %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>
<body background="{% static 'images/p5.jpeg' %}">
<section>
    <div class="container">
        <div class="login-form">
            <h1>Reset Your Password</h1>
            <form method="post">{% csrf_token %}
        <input type="text" name="Email Id" placeholder="Email Id" required>

            <input type= "submit" value="Reset Password">


        </form>

        </div>
    </div>
</section>
</body>
</html>
